@main("Cluster Demo - Login") {

} {
<div class="container" xmlns="http://www.w3.org/1999/html">

    <div class="well">
        Hi to Akka Cluster Demo. For more info check <a href="https://github.com/omergul123/AkkaClusterDemo">github page</a>.
    </div>
    <div class="col-md-4 col-md-offset-4">
        <div class="form-inline">
            <form method="GET" action="/client">
            <input class="form-control" name="username" id="username" type="text" value="" placeholder="username">
            <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
</div>
}
